<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原料商品信息</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <script type="text/javascript" src="../javascript/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/fileinput.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/fileinput.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/fileinput.mim.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/zh.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <script type="text/javascript" src="../javascript/commodity.js"></script>
</head>


<body class="pt-2">
<div class="top-toolbar row">
    <div class="col-md-2 mb-2" >
        <select id="column_name1" name="viewName1" class="form-control">
            <option value="">请选择条件</option>
            <option value="a.raw_code">原料编码</option>
            <option value="a.goods_name">商品名称</option>
            <option value="a.production_place">产地</option>
            <option value="a.brand_name">品牌名称</option>
            <option value="a.abbreviation">供应商简称</option>
            <option value="a.inci_pin">INCI中文名称</option>
            <option value="a.substance_label">物质标签</option>
            <option value="b.chengben_pin">原料成本</option>
        </select>
    </div>
    <div class="col-md-2 mb-2">
        <input id="condition1" type="text" class="form-control" placeholder="" autocomplete="off" >
    </div>
    <div class="col-md-1 mb-2">
    </div>
    <div class="col-md-2 mb-2">
        <select id="column_name2" name="viewName1" class="form-control" >
            <option value="">请选择条件</option>
            <option value="a.raw_code">原料编码</option>
            <option value="a.goods_name">商品名称</option>
            <option value="a.production_place">产地</option>
            <option value="a.brand_name">品牌名称</option>
            <option value="a.abbreviation">供应商简称</option>
            <option value="a.inci_pin">INCI中文名称</option>
            <option value="a.substance_label">物质标签</option>
            <option value="b.chengben_pin">原料成本</option>
        </select>
    </div>
    <div class="col-md-2 mb-2">
        <input id="condition2" type="text" class="form-control" placeholder="" autocomplete="off" >
    </div>
    <div class="col-md-2 mb-2">
    </div>

    <div class="col-md-2 mb-2">
        <select id="column_name3" name="viewName1" class="form-control" >
            <option value="">请选择条件</option>
            <option value="a.raw_code">原料编码</option>
            <option value="a.goods_name">商品名称</option>
            <option value="a.production_place">产地</option>
            <option value="a.brand_name">品牌名称</option>
            <option value="a.abbreviation">供应商简称</option>
            <option value="a.inci_pin">INCI中文名称</option>
            <option value="a.substance_label">物质标签</option>
            <option value="b.chengben_pin">原料成本</option>
        </select>
    </div>
    <div class="col-md-2 mb-2">
        <input id="condition3" type="text" class="form-control" placeholder="" autocomplete="off" >
    </div>
    <div class="col-md-1 mb-2">
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px" href="../excel/template.xlsx">
            <i class="bi bi-arrow-down-square"></i>
            下载excel模板
        </a>
        <button id="uploadexcel-btn" class="btn btn-primary">
            <i class="bi bi-arrow-up-square"></i>
            上传excel
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：原料商品信息</a>
    </div>
</div>
<input type="file" id="file" hidden="hidden">
<input type="file" id="upload-file" hidden="hidden">

<div class="table-div border-top">
    <table id="menuSettingsTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-rawCode">原料编码</label>
                        <input id="add-rawCode" name="rawCode" type="text" class="form-control" autocomplete="off" >
                        <div class="invalid-feedback">
                            请填写原料编码！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-goodsName">商品名称</label>
                        <input id="add-goodsName" name="goodsName" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-rawSubmissionCode">原料报送码</label>
                        <input id="add-rawSubmissionCode" name="rawSubmissionCode" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-productionPlace">产地(点击文本框选择)</label>
                        <input id="add-productionPlace" name="productionPlace" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-brandName">品牌名称</label>
                        <input id="add-brandName" name="brandName" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-addAmount">建议添加量</label>
                        <input id="add-addAmount" name="addAmount" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-abbreviation">供应商简称(点击文本框选择)</label>
                        <input id="add-abbreviation" name="abbreviation" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-supplierName">供应商公司名称</label>
                        <input id="add-supplierName" name="supplierName" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-solubility">溶解性(点击文本框选择)</label>
                        <input id="add-solubility" name="solubility" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-appearance">外观(点击文本框选择)</label>
                        <input id="add-appearance" name="appearance" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-smell">气味(点击文本框选择)</label>
                        <input id="add-smell" name="smell" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-substanceLabel">物质标签(点击文本框选择)</label>
                        <input id="add-substanceLabel" name="substanceLabel" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-efficacyLabel">功效标签(点击文本框选择)</label>
                        <input id="add-efficacyLabel" name="efficacyLabel" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-rawLabel">原料标签(点击文本框选择)</label>
                        <input id="add-rawLabel" name="rawLabel" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-patent">专利信息</label>
                        <input id="add-patent" name="patent" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-performance">产品性能</label>
                        <textarea id="add-performance" name="performance" type="text" class="form-control" autocomplete="off" data-required="1" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="add-taboo">配伍禁忌</label>
                            <textarea id="add-taboo" name="taboo" type="text" class="form-control" autocomplete="off" data-required="1" ></textarea>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-rawCode">原料编码</label>
                        <input id="update-rawCode" name="rawCode" type="text" class="form-control" autocomplete="off" >
                        <div class="invalid-feedback">
                            请填写原料编码！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-goodsName">商品名称</label>
                        <input id="update-goodsName" name="goodsName" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-rawSubmissionCode">原料报送码</label>
                        <input id="update-rawSubmissionCode" name="rawSubmissionCode" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-productionPlace">产地(点击文本框选择)</label>
                        <input id="update-productionPlace" name="productionPlace" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-brandName">品牌名称</label>
                        <input id="update-brandName" name="brandName" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-addAmount">建议添加量</label>
                        <input id="update-addAmount" name="addAmount" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-abbreviation">供应商简称(点击文本框选择)</label>
                        <input id="update-abbreviation" name="abbreviation" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-supplierName">供应商公司名称</label>
                        <input id="update-supplierName" name="supplierName" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-solubility">溶解性(点击文本框选择)</label>
                        <input id="update-solubility" name="solubility" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-appearance">外观(点击文本框选择)</label>
                        <input id="update-appearance" name="appearance" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-smell">气味(点击文本框选择)</label>
                        <input id="update-smell" name="smell" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-substanceLabel">物质标签(点击文本框选择)</label>
                        <input id="update-substanceLabel" name="substanceLabel" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-efficacyLabel">功效标签(点击文本框选择)</label>
                        <input id="update-efficacyLabel" name="efficacyLabel" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-rawLabel">原料标签(点击文本框选择)</label>
                        <input id="update-rawLabel" name="rawLabel" type="text" class="form-control" autocomplete="off" readonly="readonly" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-patent">专利信息</label>
                        <input id="update-patent" name="patent" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-performance">产品性能</label>
                        <textarea id="update-performance" name="performance" type="text" class="form-control" autocomplete="off" data-required="1" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="update-taboo">配伍禁忌</label>
                        <textarea id="update-taboo" name="taboo" type="text" class="form-control" autocomplete="off" data-required="1" ></textarea>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

<!--    查询化妆品原料信息窗体-->
<div id="show-essential-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" style="max-width: 1200px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">选择化妆品原料信息</div>
            </div>
            <div class="modal-body">
                <input id="showEssentialInfoId" type="hidden"/>
                <table id="show-table-essential"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="essential-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="essential-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!--    查询供应商信息窗体-->
<div id="show-supplier-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" style="max-width: 1200px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">选择供应商信息</div>
            </div>
            <div class="modal-body">
                <input id="showSupplierInfoId" type="hidden"/>
                <table id="show-table-supplier"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="supplier-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="supplier-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!--    查询标签窗体-->
<div id="show-label-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">选择标签信息</div>
            </div>
            <div class="modal-body">
                <input id="showLabelInfoId" type="hidden"/>
                <table id="show-table-label"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="label-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="label-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
                <button id="label-add-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    新增
                </button>
            </div>
        </div>
    </div>
</div>


<div id="add-modal-label" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-form-label" class="needs-validation">
                    <div class="form-group">
                        <label for="add-type">分类</label>
<!--                        <input id="add-type" name="type" type="text" class="form-control" autocomplete="off">-->
                        <select id="add-type" name="type" type="text" class="form-control" autocomplete="off">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-label1">标签</label>
                        <input id="add-label1" name="label1" type="text" class="form-control" autocomplete="off" data-role="tagsinput" style="width:100%">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn-label" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn-label" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!--    查询窗体-->
<div id="show-file-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" style="max-width: 1200px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">文件操作</div>
            </div>
            <div class="modal-body">
                <table id="show-table-file"></table>
            </div>
            <div class="progress" style="margin-left: 10px;margin-right: 10px">
                <div id="content" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="file-up-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    上传
                </button>
                <button id="file-down-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-arrow-bar-down"></i>
                    下载
                </button>
                <button id="file-yulan-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-file-earmark"></i>
                    pdf预览
                </button>
                <button id="file-delete-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-trash icon"></i>
                    删除
                </button>
                <button id="file-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
                <div class="file-loading">
                    <input id="file-1" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="2">
                </div>
                <script>
                    initFileInput();
                    function initFileInput() {
                        $("#file-1").fileinput({//#file-5是input框的id
                            showUpload : false,
                            language: 'zh'//设置语言为中文
                        })
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<!--    查询INCI信息窗体-->
<div id="show-inci-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" style="max-width: 1200px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">INCI信息</div>
            </div>
            <div class="modal-body">
                <input id="showINCIInfoId" type="hidden"/>
                <table id="show-table-inci"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="inci-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-plus-square icon"></i>
                    新增
                </button>
                <button id="inci-delete-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-trash icon"></i>
                    删除
                </button>
                <button id="inci-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!--    查询INCI信息窗体-->
<div id="add-inci-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" style="max-width: 1200px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">选择INCI信息</div>
            </div>
            <div class="modal-body">
                <table id="add-table-inci"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-inci-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="add-inci-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>


</body>
</html>