<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>录入原料成本信息</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <script type="text/javascript" src="../javascript/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <script type="text/javascript" src="../javascript/commodity_price.js"></script>
</head>


<body class="pt-2">
<div class="top-toolbar row">

    <div class="col-md-3 mb-2">
        <input id="query" type="text" class="form-control" placeholder="原料编码/商品名称/供应商简称/品牌名称" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px" href="../excel/template.xlsx">
            <i class="bi bi-arrow-down-square"></i>
            下载excel模板
        </a>
        <button id="uploadexcel-btn" class="btn btn-primary">
            <i class="bi bi-arrow-up-square"></i>
            上传excel
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：录入原料成本信息</a>
    </div>
</div>

<input type="file" id="upload-file" hidden="hidden">

<div class="table-div border-top">
    <table id="menuSettingsTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button id="add-commodity-show" class="btn btn-primary">
                    <i class="bi bi-plus-square icon"></i>
                    选择原料信息按钮
                </button>
            </div>
            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <input id="add-commodityId" name="commodityId" type="hidden">
                        <div class="invalid-feedback">
                            请选择原料信息！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-code">原料编码</label>
                        <input id="add-code" name="add-code" type="text" class="form-control" autocomplete="off" data-required="1" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="add-item">商品名称</label>
                        <input id="add-item" name="add-item" type="text" class="form-control" autocomplete="off" data-required="1" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="add-inci">INCI信息</label>
                        <input id="add-inci" name="add-inci" type="text" class="form-control" autocomplete="off" data-required="1" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="add-unit1">1.包装规格/kg</label>
                        <input id="add-unit1" name="unit1" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-price1">1.成本/元</label>
                        <input id="add-price1" name="price1" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-unit2">2.包装规格/kg</label>
                        <input id="add-unit2" name="unit2" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-price2">2.成本/元</label>
                        <input id="add-price2" name="price2" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-unit3">3.包装规格/kg</label>
                        <input id="add-unit3" name="unit3" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-price3">3.成本/元</label>
                        <input id="add-price3" name="price3" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-unit4">4.包装规格/kg</label>
                        <input id="add-unit4" name="unit4" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-price4">4.成本/元</label>
                        <input id="add-price4" name="price4" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-unit5">5.包装规格/kg</label>
                        <input id="add-unit5" name="unit5" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="add-price5">5.成本/元</label>
                        <input id="add-price5" name="price5" type="text" class="form-control" autocomplete="off" data-required="1">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button id="update-commodity-show" class="btn btn-primary">
                    <i class="bi bi-plus-square icon"></i>
                    选择原料信息按钮
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <input id="update-commodityId" name="commodityId" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-code">原料编码</label>
                        <input id="update-code" name="add-code" type="text" class="form-control" autocomplete="off" data-required="1" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="update-item">商品名称</label>
                        <input id="update-item" name="add-item" type="text" class="form-control" autocomplete="off" data-required="1" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="update-inci">INCI信息</label>
                        <input id="update-inci" name="add-inci" type="text" class="form-control" autocomplete="off" data-required="1" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="update-unit">包装规格/kg</label>
                        <input id="update-unit" name="unit" type="number" class="form-control" autocomplete="off" data-required="1">
                    </div>
                    <div class="form-group">
                        <label for="update-price">成本/元</label>
                        <input id="update-price" name="price" type="number" class="form-control" autocomplete="off" data-required="1">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

<!--    查询原料商品信息窗体-->
<div id="show-commodity-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">选择原料商品信息</div>
            </div>
            <div class="modal-body">
                <input id="showCommodityInfoId" type="hidden"/>
                <table id="show-table-commodity"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="commodity-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="commodity-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>