<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原料数据查询</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <script type="text/javascript" src="../javascript/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/fileinput.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/fileinput.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/fileinput.mim.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/zh.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <script type="text/javascript" src="../javascript/commodityQuery.js"></script>
</head>

<body class="pt-2">
<div class="top-toolbar row">
    <div class="col-md-2 mb-2">
        <select id="column1" name="viewName1" class="form-control">
            <option value="">请选择条件</option>
            <option value="raw_code">原料编码</option>
            <option value="goods_name">商品名称</option>
            <option value="production_place">产地</option>
            <option value="brand_name">品牌名称</option>
            <option value="abbreviation">供应商简称</option>
            <option value="INCI中文名称">INCI中文名称</option>
            <option value="substance_label">物质标签</option>
            <option value="efficacy_label">功效标签</option>
            <option value="raw_label">原料标签</option>
            <option value="patent">专利信息</option>
            <option value="performance">产品性能</option>
        </select>
    </div>
    <div class="col-md-2 mb-2">
        <input id="condition1" type="text" class="form-control" placeholder="" autocomplete="off">
    </div>

    <div class="col-md-2 mb-2">
        <select id="column2" name="viewName1" class="form-control">
            <option value="">请选择条件</option>
            <option value="raw_code">原料编码</option>
            <option value="goods_name">商品名称</option>
            <option value="production_place">产地</option>
            <option value="brand_name">品牌名称</option>
            <option value="abbreviation">供应商简称</option>
            <option value="INCI中文名称">INCI中文名称</option>
            <option value="substance_label">物质标签</option>
            <option value="efficacy_label">功效标签</option>
            <option value="raw_label">原料标签</option>
            <option value="patent">专利信息</option>
            <option value="performance">产品性能</option>
        </select>
    </div>
    <div class="col-md-2 mb-2">
        <input id="condition2" type="text" class="form-control" placeholder="" autocomplete="off">
    </div>

    <div class="col-md-2 mb-2">
        <select id="column3" name="viewName1" class="form-control">
            <option value="">请选择条件</option>
            <option value="raw_code">原料编码</option>
            <option value="goods_name">商品名称</option>
            <option value="production_place">产地</option>
            <option value="brand_name">品牌名称</option>
            <option value="abbreviation">供应商简称</option>
            <option value="INCI中文名称">INCI中文名称</option>
            <option value="substance_label">物质标签</option>
            <option value="efficacy_label">功效标签</option>
            <option value="raw_label">原料标签</option>
            <option value="patent">专利信息</option>
            <option value="performance">产品性能</option>
        </select>
    </div>
    <div class="col-md-2 mb-2">
        <input id="condition3" type="text" class="form-control" placeholder="" autocomplete="off">
    </div>

    <div class="col-md-2 mb-2">
        <select id="column4" name="viewName1" class="form-control">
            <option value="">请选择条件</option>
            <option value="raw_code">原料编码</option>
            <option value="goods_name">商品名称</option>
            <option value="production_place">产地</option>
            <option value="brand_name">品牌名称</option>
            <option value="abbreviation">供应商简称</option>
            <option value="INCI中文名称">INCI中文名称</option>
            <option value="substance_label">物质标签</option>
            <option value="efficacy_label">功效标签</option>
            <option value="raw_label">原料标签</option>
            <option value="patent">专利信息</option>
            <option value="performance">产品性能</option>
        </select>
    </div>
    <div class="col-md-2 mb-2">
        <input id="condition4" type="text" class="form-control" placeholder="" autocomplete="off">
    </div>

    <div class="col-md-2 mb-2">
        <select id="column5" name="viewName1" class="form-control">
            <option value="">请选择条件</option>
            <option value="raw_code">原料编码</option>
            <option value="goods_name">商品名称</option>
            <option value="production_place">产地</option>
            <option value="brand_name">品牌名称</option>
            <option value="abbreviation">供应商简称</option>
            <option value="INCI中文名称">INCI中文名称</option>
            <option value="substance_label">物质标签</option>
            <option value="efficacy_label">功效标签</option>
            <option value="raw_label">原料标签</option>
            <option value="patent">专利信息</option>
            <option value="performance">产品性能</option>
        </select>
    </div>
    <div class="col-md-2 mb-2">
        <input id="condition5" type="text" class="form-control" placeholder="" autocomplete="off">
    </div>

    <div class="col-md-2 mb-2">
        <span id="column6" class="form-control" style="border: none">人体功效</span>
    </div>
    <div class="col-md-2 mb-2">
        <select id="condition6" name="viewName1" class="form-control">
            <option value="">请选择</option>
            <option value="人体功效">是</option>
        </select>
    </div>

    <div class="col-md-1.8 mb-1">
        <span class="form-control" style="border: none">原料成本：</span>
    </div>
    <div class="col-md-2 mb-2">
        <input id="priceMin" type="number" class="form-control" placeholder="" autocomplete="off">
    </div>
    —
    <div class="col-md-2 mb-2">
        <input id="priceMax" type="number" class="form-control" placeholder="" autocomplete="off">
    </div>

    <div class="col-md-1.8 mb-1">
        <span class="form-control" style="border: none">成分含量：</span>
    </div>
    <div class="col-md-2 mb-2">
        <input id="contentMin" type="number" class="form-control" placeholder="" autocomplete="off">
    </div>
    —
    <div class="col-md-2 mb-2">
        <input id="contentMax" type="number" class="form-control" placeholder="" autocomplete="off">
    </div>



    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <a id="biaoqian" class="btn btn-primary" style="color: white;padding-top: 8px">当前页：原料数据查询</a>
    </div>
</div>

<input type="file" id="upload-file" hidden="hidden">

<div class="table-div border-top">
    <table id="queryTable"></table>
</div>

<!--    窗体-->
<div id="show-price-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">原料成本</div>
            </div>
            <div class="modal-body">
                <!--                <input id="userInfoId" type="hidden"/>-->
                <table id="show-table-price"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="price-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!--    查询窗体-->
<div id="show-file-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">文件操作</div>
            </div>
            <div class="modal-body">
                <table id="show-table-file"></table>
            </div>
            <div class="progress" style="margin-left: 10px;margin-right: 10px">
                <div id="content" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="file-up-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    上传
                </button>
                <button id="file-down-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-arrow-bar-down"></i>
                    下载
                </button>
                <button id="file-yulan-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-file-earmark"></i>
                    pdf预览
                </button>
<!--                <button id="file-delete-btn" type="button" class="btn btn-primary left-margin">-->
<!--                    <i class="bi bi-trash icon"></i>-->
<!--                    删除-->
<!--                </button>-->
                <button id="file-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
                <div class="file-loading">
                    <input id="file-1" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="2">
                </div>
                <script>
                    initFileInput();
                    function initFileInput() {
                        $("#file-1").fileinput({//#file-5是input框的id
                            showUpload : false,
                            language: 'zh'//设置语言为中文
                        })
                    }
                </script>
            </div>

        </div>
    </div>
</div>

<!--    窗体-->
<div id="show-inci-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" style="max-width: 1200px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">INCI成分信息</div>
            </div>
            <div class="modal-body">
                <!--                <input id="userInfoId" type="hidden"/>-->
                <table id="show-table-inci"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="inci-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
            </div>
        </div>
    </div>
</div>


<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">查看详情</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-textBox">详细信息</label>
                        <textarea id="add-textBox" name="textBox" type="text" class="form-control" autocomplete="off" data-required="1" style="height:100px"></textarea>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>



</body>
</html>