<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INCI信息</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <script type="text/javascript" src="../javascript/INCI-Information.js"></script>
</head>

<body class="pt-2">
<div class="top-toolbar row">
    <div class="col-md-3 mb-2">
        <input id="query" type="text" class="form-control" placeholder="序号/INCI中文名称/INCI英文名称" autocomplete="off">
    </div>


<!--        <div class="col-md-2 mb-2" >-->
<!--            <select id="column_name1" name="viewName1" class="form-control">-->
<!--                <option value="">请选择条件</option>-->
<!--                <option value="serial_number">序号</option>-->
<!--                <option value="chinese_name">INCI名称/中文名称</option>-->
<!--                <option value="english_name">INCI名称/英文名称</option>-->
<!--                <option value="rinsing_products">淋洗类产品最高历史使用量（%）</option>-->
<!--                <option value="resident_products">驻留类产品最高历史使用量（%）</option>-->
<!--                <option value="raw_remarks">原料目录备注</option>-->
<!--                <option value="purpose">主要使用目的</option>-->
<!--                <option value="risk_substance">是否可能存在安全性风险物质</option>-->
<!--                <option value="safety_risk">安全风险</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="col-md-2 mb-2">-->
<!--            <input id="condition1" type="text" class="form-control" placeholder="" autocomplete="off" >-->
<!--        </div>-->

<!--        <div class="col-md-2 mb-2">-->
<!--            <select id="column_name2" name="viewName1" class="form-control" >-->
<!--                <option value="">请选择条件</option>-->
<!--                <option value="serial_number">序号</option>-->
<!--                <option value="chinese_name">INCI名称/中文名称</option>-->
<!--                <option value="english_name">INCI名称/英文名称</option>-->
<!--                <option value="rinsing_products">淋洗类产品最高历史使用量（%）</option>-->
<!--                <option value="resident_products">驻留类产品最高历史使用量（%）</option>-->
<!--                <option value="raw_remarks">原料目录备注</option>-->
<!--                <option value="purpose">主要使用目的</option>-->
<!--                <option value="risk_substance">是否可能存在安全性风险物质</option>-->
<!--                <option value="safety_risk">安全风险</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="col-md-2 mb-2">-->
<!--            <input id="condition2" type="text" class="form-control" placeholder="" autocomplete="off" >-->
<!--        </div>-->


<!--        <div class="col-md-2 mb-2">-->
<!--            <select id="column_name3" name="viewName1" class="form-control" >-->
<!--                <option value="">请选择条件</option>-->
<!--                <option value="serial_number">序号</option>-->
<!--                <option value="chinese_name">INCI名称/中文名称</option>-->
<!--                <option value="english_name">INCI名称/英文名称</option>-->
<!--                <option value="rinsing_products">淋洗类产品最高历史使用量（%）</option>-->
<!--                <option value="resident_products">驻留类产品最高历史使用量（%）</option>-->
<!--                <option value="raw_remarks">原料目录备注</option>-->
<!--                <option value="purpose">主要使用目的</option>-->
<!--                <option value="risk_substance">是否可能存在安全性风险物质</option>-->
<!--                <option value="safety_risk">安全风险</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="col-md-2 mb-2">-->
<!--            <input id="condition3" type="text" class="form-control" placeholder="" autocomplete="off" >-->
<!--        </div>-->
<!--        <div class="col-md-1 mb-2">-->
<!--        </div>-->



    <div class="mb-2" style="margin-left:10px">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            模糊查询
        </button>
    </div>
    <div class="col-md-2 mb-2" >
        <button id="select-btn2" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            精确查询
        </button>
    </div>
</div>






<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px" href="../excel/template.xlsx">
            <i class="bi bi-arrow-down-square"></i>
            下载excel模板
        </a>
        <button id="upload-btn" class="btn btn-primary">
            <i class="bi bi-arrow-up-square"></i>
            上传excel
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：INCI信息</a>
    </div>
    <input type="file" id="file" hidden="hidden">
</div>

<div class="table-div border-top">
    <table id="menuSettingsTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-serialNumber">序号</label>
                        <input id="add-serialNumber" name="serialNumber" type="text" class="form-control" autocomplete="off" >
                        <div class="invalid-feedback">
                            请填写序号！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-chineseName">INCI名称/中文名称</label>
                        <input id="add-chineseName" name="chineseName" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-englishName">INCI名称/英文名称</label>
                        <input id="add-englishName" name="englishName" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="add-rinsingProducts">淋洗类产品最高历史使用量（%）</label>
                        <input id="add-rinsingProducts" name="rinsingProducts" type="text" class="form-control" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="add-residentProducts">驻留类产品最高历史使用量（%）</label>
                        <input id="add-residentProducts" name="residentProducts" type="text" class="form-control" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="add-rawRemarks">原料目录备注</label>
                        <input id="add-rawRemarks" name="rawRemarks" type="text" class="form-control" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="add-purpose">主要使用目的</label>
                        <input id="add-purpose" name="purpose" type="text" class="form-control" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="add-riskSubstance">是否可能存在安全性风险物质</label>
                        <input id="add-riskSubstance" name="riskSubstance" type="text" class="form-control" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="add-safetyRisk">安全风险</label>
                        <input id="add-safetyRisk" name="safetyRisk" type="text" class="form-control" autocomplete="off" >
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-serialNumber">序号</label>
                        <input id="update-serialNumber" name="serialNumber" type="text" class="form-control" autocomplete="off" >
                        <div class="invalid-feedback">
                            请填写序号！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-chineseName">INCI名称/中文名称</label>
                        <input id="update-chineseName" name="chineseName" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-englishName">INCI名称/英文名称</label>
                        <input id="update-englishName" name="englishName" type="text" class="form-control" autocomplete="off" data-required="1" >
                    </div>
                    <div class="form-group">
                        <label for="update-rinsingProducts">淋洗类产品最高历史使用量（%）</label>
                        <input id="update-rinsingProducts" name="rinsingProducts" type="text" class="form-control" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="update-residentProducts">驻留类产品最高历史使用量（%）</label>
                        <input id="update-residentProducts" name="residentProducts" type="text" class="form-control" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="update-rawRemarks">原料目录备注</label>
                        <input id="update-rawRemarks" name="rawRemarks" type="text" class="form-control" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="update-purpose">主要使用目的</label>
                        <input id="update-purpose" name="purpose" type="text" class="form-control" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="update-riskSubstance">是否可能存在安全性风险物质</label>
                        <input id="update-riskSubstance" name="riskSubstance" type="text" class="form-control" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="update-safetyRisk">安全风险</label>
                        <input id="update-safetyRisk" name="safetyRisk" type="text" class="form-control" autocomplete="off" >
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>