<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理系统</title>

    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <script type="text/javascript" src="../javascript/jquerysession.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <!--bTabs-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/b.tabs.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/b.tabs.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/jquery-ui-1.10.3.custom.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/closable-tab-div.js"></script>

    <style>
        .navbar-nav > li > a {
            padding-top: 4px;
            padding-bottom: 0;
            height: 28px;
            margin-top: 20px;
        }

        .navbar {
            min-height: 20px;
            display: flow-root;
        }
    </style>
</head>
<body style="padding-left: 130px;margin: 0" class="row">
<nav class="navbar navbar-dark  bg-dark" style="width: 100%;height:100%;position: absolute;top: 0;left: 0;">
    <ul class="navbar-nav mr-auto">
        <!--href="main.html"-->
        <span class="navbar-brand" style="font-size: 1rem;">
<!--            <img src="../img/logo.png" width="20" height="20" class="d-inline-block align-top rounded" alt=""/>-->
            氢氧实验室
        </span>

        <span class="navbar-brand">
            <button id="refresh_btn" class="btn-xs btn-primary" style="font-size: 0.9rem;">
                关闭所有页面
            </button>
        </span>

<!--        <li class="nav-item">-->
<!--            <button id="refresh_btn" class="btn-xs btn-primary">-->
<!--                关闭所有页面-->
<!--            </button>-->
<!--        </li>-->

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="supplierNavbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                供应商
            </a>
            <div class="dropdown-menu" aria-labelledby="supplierNavbarDropdown" id="supplier"
                 style="width:15%;font-size: 14px">

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="yuanliaoNavbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                原料品牌
            </a>
            <div class="dropdown-menu" aria-labelledby="yuanliaoNavbarDropdown" id="yuanliao"
                 style="width:15%;font-size: 14px">
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="wuzhiNavbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                物质分类
            </a>
            <div class="dropdown-menu" aria-labelledby="wuzhiNavbarDropdown" id="wuzhi"
                 style="width:15%;font-size: 14px">

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="wuliNavbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                物理形态
            </a>
            <div class="dropdown-menu" aria-labelledby="wuliNavbarDropdown" id="wuli" style="width:15%;font-size: 14px">

            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-src="label.html">功效标签</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-src="label.html">原料标签</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="commodityDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                原料商品
            </a>
            <div class="dropdown-menu" aria-labelledby="dataNavbarDropdown" style="width:15%;font-size: 14px">
                <a class="dropdown-item" data-src="commodity.html">录入原料商品</a>
                <!--                <a class="dropdown-item" data-src="commodity-inci.html">录入原料商品-INCI</a>-->
                <a class="dropdown-item" data-src="commodity-price.html">录入原料成本</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dataNavbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                数据查询
            </a>
            <div class="dropdown-menu" aria-labelledby="dataNavbarDropdown" style="width:15%;font-size: 14px">
                <a class="dropdown-item" data-src="commodityQuery.html">原料数据查询</a>
                <a class="dropdown-item" data-src="INCI-Information.html">INCI信息</a>
                <a class="dropdown-item" data-src="CIR-Security.html">CIR安全评估</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="settingsNavbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                系统设置
            </a>
            <div class="dropdown-menu" aria-labelledby="settingsNavbarDropdown" style="width:15%;font-size: 14px">
                <a class="dropdown-item" data-src="userInfo.html">账户管理</a>
                <a class="dropdown-item" data-src="userPower.html">权限管理</a>
                <a class="dropdown-item" data-src="menuSettings.html">主菜单配置</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-src="">v1.0</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="out-a" data-src="">退出</a>
        </li>
    </ul>
</nav>

<ul class="nav nav-tabs" id="myTab" role="tablist" style="z-index: 999">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#admin" role="tablist" aria-controls="home" aria-selected="true"  >
            <span>首页</span>
        </a>
    </li>
</ul>

<div class="tab-content border border-top-0" id="myTabContent" style="z-index: 999;height: 100%;width: 100%">
    <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="home-tab" style="height: 100%">
        <ul class="list-group list-group-flush" style="height: 100%">
            <div class="embed-responsive embed-responsive-1by1 h-100" style="height: 100%" id="main">

            </div>
        </ul>
    </div>
</div>


</body>
<script type="text/javascript">
    let uid=0;
    $(function () {
        $('body').on("click", 'a', function () {
            let src = $(this).data('src');
            if (src != '' && src != undefined) {
                if (src == "supplier.html") {
                    $.session.set('supplier', $(this).text())
                } else if (src == "cosmeticRaw.html") {
                    $.session.set('cosmeticRaw', $(this).text())
                } else if (src == "label.html") {
                    $.session.set('label', $(this).text())
                }
                // $('#iframe').attr('src', src);
                $.session.set('onload_url', src)
                // window.open("main.html")

                var item = {'id':uid,'name':$(this).text(),'url':src,'closable':false};
                closableTab.addTab(item);
                var container ="tab_container_" + uid;
                document.getElementById(container).innerHTML = '<object type="text/html" data="'+ src +'"></object>';
                uid=uid+1


                // if ($('#navbarSupportedContent').hasClass('show')) {
                //     $('.navbar-toggler').click();
                // }
            }
        })
    })

    $(document).ready(function () {
        document.getElementById("main").innerHTML = '<object type="text/html" data="main-item.html"></object>';

        var item1 = '';
        var item2 = '';
        var item3 = '';
        var item4 = '';
        $ajax({
            type: 'post',
            url: '/menu_settings/getList',
        }, false, '', function (res) {
            if (res.code == 200) {
                for (var i = 0; i < res.data.length; i++) {
                    if (res.data[i].supplier != '') {
                        item1 = " <a class=\"dropdown-item\" data-src=\"supplier.html\">" + res.data[i].supplier + "</a>"
                        $("#supplier").append(item1);
                    }
                    if (res.data[i].brand != '') {
                        item2 = " <a class=\"dropdown-item\" data-src=\"cosmeticRaw.html\">" + res.data[i].brand + "</a>"
                        $("#yuanliao").append(item2);
                    }
                    if (res.data[i].sort != '') {
                        item3 = " <a class=\"dropdown-item\" data-src=\"label.html\">" + res.data[i].sort + "</a>"
                        $("#wuzhi").append(item3);
                    }
                    if (res.data[i].shape != '') {
                        item4 = " <a class=\"dropdown-item\" data-src=\"label.html\">" + res.data[i].shape + "</a>"
                        $("#wuli").append(item4);
                    }
                }
            }
        })
    });


</script>
</html>