<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>供应商信息</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <script type="text/javascript" src="../javascript/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <script type="text/javascript" src="../javascript/supplier.js"></script>
    <script type="text/javascript" src="../javascript/pdf.js"></script>
    <script type="text/javascript" src="../javascript/pdf.worker.js"></script>
</head>

<body class="pt-2">
    <div class="top-toolbar row">
        <div class="col-md-3 mb-2">
            <input id="query" type="text" class="form-control" placeholder="供应商编码/简称/全称" autocomplete="off">
        </div>
        <div class="col-md-2 mb-2">
            <button id="select-btn" class="btn btn-primary">
                <i class="bi bi-search icon"></i>
                查询
            </button>
        </div>
        <input type="file" id="file1" hidden="hidden">
        <input type="file" id="file2" hidden="hidden">
    </div>

    <div id="table-toolbar">
        <div class="btn-group" role="group">
            <button id="refresh-btn" class="btn btn-primary">
                <i class="bi bi-arrow-clockwise icon"></i>
                刷新
            </button>
            <button id="add-btn" class="btn btn-primary">
                <i class="bi bi-plus-square icon"></i>
                新增
            </button>
            <button id="update-btn" class="btn btn-primary">
                <i class="bi bi-pencil-square icon"></i>
                修改
            </button>
            <button id="delete-btn" class="btn btn-primary">
                <i class="bi bi-trash icon"></i>
                删除
            </button>
            <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：供应商</a>
        </div>
    </div>

    <div class="table-div border-top">
        <table id="supplierTable" class="table table-bordered" ></table>
    </div>

    <div id="add-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">录入</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-form" class="needs-validation">
                        <div class="form-group">
                            <label for="add-supplierCode">供应商编码</label>
                            <input id="add-supplierCode" name="supplierCode" type="text" class="form-control" autocomplete="off" style="height:100px">
                        </div>
                        <div class="form-group">
                            <label for="add-company">公司</label>
                            <input id="add-company" name="company" type="text" class="form-control" autocomplete="off" style="height:100px">
                        </div>
                        <div class="form-group">
                            <label for="add-type">供应商分类</label>
                            <input id="add-type" name="type" type="text" class="form-control" autocomplete="off" readonly="readonly" style="height:100px">
                        </div>
                        <div class="form-group">
                            <label for="add-abbreviation">供应商简称</label>
                            <input id="add-abbreviation" name="abbreviation" type="text" class="form-control" autocomplete="off" style="height:100px">
                        </div>
                        <div class="form-group">
                            <label for="add-supplierName">供应商名称</label>
                            <input id="add-supplierName" name="supplierName" type="text" class="form-control" autocomplete="off" data-required="1" style="height:100px">
                        </div>
                        <div class="form-group">
                            <label for="add-url">官网网址</label>
                            <input id="add-url" name="url" type="text" class="form-control" autocomplete="off" data-required="1" style="height:100px">
                        </div>
                    </form>
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="add-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        提交
                    </button>
                    <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="update-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">编辑</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="update-form" class="needs-validation">
                        <div class="form-group">
                            <input id="id" name="id" type="hidden">
                        </div>
                        <div class="form-group">
                            <label for="update-supplierCode">供应商编码</label>
                            <input id="update-supplierCode" name="supplierCode" type="text" class="form-control" autocomplete="off" style="height:100px">
                        </div>
                        <div class="form-group">
                            <label for="update-company">公司</label>
                            <input id="update-company" name="company" type="text" class="form-control" autocomplete="off" style="height:100px">
                        </div>
                        <div class="form-group">
                            <label for="update-type">供应商分类</label>
                            <input id="update-type" name="type" type="text" class="form-control" autocomplete="off" readonly="readonly" style="height:100px">
                        </div>
                        <div class="form-group">
                            <label for="update-abbreviation">供应商简称</label>
                            <input id="update-abbreviation" name="abbreviation" type="text" class="form-control" autocomplete="off" style="height:100px">
                        </div>
                        <div class="form-group">
                            <label for="update-supplierName">供应商名称</label>
                            <input id="update-supplierName" name="supplierName" type="text" class="form-control" autocomplete="off" style="height:100px">
                        </div>
                        <div class="form-group">
                            <label for="update-url">官网网址</label>
                            <input id="update-url" name="url" type="text" class="form-control" autocomplete="off" style="height:100px">
                        </div>
                    </form>
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="update-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        提交
                    </button>
                    <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">提示</div>
                </div>
                <div id="delete-modal-body" class="modal-body">
                    确定删除吗？
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="delete-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        确定
                    </button>
                    <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--    查询窗体-->
    <div id="show-file-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">文件操作</div>
                </div>
                <div class="modal-body">
                    <table id="show-table-file"></table>
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="file-up-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        上传
                    </button>
                    <button id="file-down-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-arrow-bar-down"></i>
                        下载
                    </button>
                    <button id="file-yulan-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-file-earmark"></i>
                        pdf预览
                    </button>
                    <button id="file-delete-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-trash icon"></i>
                        删除
                    </button>
                    <button id="file-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>